body {
  font-family: 'roboto', sans-serif;
  text-align: center;

  /* for body --> use flexbox display */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

h1 {
  font-size: 36px;
  margin-top: 0px;
  margin-bottom: 20px;
}

h2 {
  -webkit-text-stroke: 1.5px black;
  font-size: 42px;
  margin-bottom: 40px;
}

#container {
  height: 900px;
  width: 1400px;
  margin-top: 40px;
}

#board {
  background-color: blue;
  height: 600px; 
  width: 700px;
  padding: 10px;
  margin: auto;

  /* for game grid --> use grid display  */
  display: grid;
  grid-template-rows: repeat(6, 1fr); /* make a grid with 6 rows, each taking an equal fraction of available height */
  grid-template-columns: repeat(7, 1fr); /* make a grid with 7 columns, each taking an equal fraction of the available width */
  gap: 5px;
  place-items: center;
}

.tile {
  background-color: white;
  height: 90%;
  width: 90%;
  border-radius: 50%; /* make the tiles circular */
  cursor: pointer;
}

#button {
  display: none; /* initially hides the button on the page */
  font-size: 24px;
  margin-top: 30px;
  padding: 5px 7.5px;
  margin-left: auto;
  margin-right: auto;
}